.filter {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;

  width: 400px;
  height: 100%;

  transform: translateX(400px);

  background-color: #161b22;
  border: 1px solid #5f5f5f;
  transition: 0.4s;

  &_category {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
  }

  &_checkbox {
    &__item {
      padding: 4px 0;

      & p {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  &_close {
    cursor: pointer;
  }

  &_container {
    position: relative;
    padding: 24px;
    margin-top: 100px;
  }

  &_header {
    display: flex;
    column-gap: 27%;
    padding: 4px 0;
  }

  &_search {
    display: flex;
    padding: 20px 0;

    &__item {
      height: 45px;
      width: 100%;
      padding: 0 16px;

      border: 1px solid #5f5f5f;
      border-radius: 8px;
      background-color: #161b22;
      color: inherit;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin-left: -36px;
      margin-top: 13px;
      cursor: pointer;
    }
  }

  &_title {
    font-size: 24px;
    font-weight: 500;
  }
}

.filter.active {
  transform: translateX(0px);
}
