.parent_table {
  border: 1px solid #5f5f5f;
  border-radius: 12px;

  overflow: hidden;
}

table tr td {
  text-align: right;
  padding: 8px 8px;
  max-width: 100%;

  & * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

table tr td ~ td {
  text-align: left;
}

table tr th {
  padding: 8px;
}

table {
  & th:first-child,
  td:first-child {
    text-align: left;
  }

  & th:last-child,
  td:last-child {
    text-align: right;
  }
}

.table {
  padding: 8px;

  display: grid;
  table-layout: auto;

  width: 100%;
  max-width: 100%;

  overflow: auto;

  &-title {
    width: 100%;

    // display: flex;
    //  justify-content: space-between;

    color: #fff;
    font-size: 16px;
    font-weight: 500;

    &-background {
      display: contents;

      padding: 16px 24px;

      background-color: #0d1117;
      box-sizing: border-box;
      width: 100%;

      & tr {
        display: contents;
      }
    }
  }

  &-body {
    display: contents;
    width: 100%;

    & tr {
      display: contents;
    }

    &-content {
      // display: flex;

      // justify-content: space-between;

      border-top: 1px solid #5f5f5f;

      transition: all 0.4s ease-out;

      &.active {
        border: 1px solid #fff;
        border-radius: 0;
        background-color: rgba(45, 45, 45, 0.5);
      }

      &.active:last-child {
        border-radius: 0 0 12px 12px;
      }

      &:hover {
        background-color: rgba(45, 45, 45, 0.5);
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  //& .tr {
  //  display: flex;
  //  width: fit-content;
  //  border-bottom: 1px solid #5f5f5f;
  //
  //  &:first-child {
  //    background-color: #0d1117;
  //    border-radius: 12px 12px 0 0;
  //  }
  //
  //  &:last-child {
  //    border-bottom: none;
  //  }
  //}
  //
  //& .th {
  //  position: relative;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  padding: 16px 8px;
  //  font-size: 18px;
  //  font-weight: 500;
  //}
  //
  //& .td {
  //  padding: 16px 8px;
  //  overflow: hidden;
  //  white-space: nowrap;
  //  text-overflow: ellipsis;
  //
  // //  & p {
  //    overflow: hidden;
  //    white-space: nowrap;
  //    text-overflow: ellipsis;
  //  }
  //}

  &-resizer {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 7px;
    border-right: 1px dashed #5f5f5f;
    cursor: col-resize;
    user-select: none;
    touch-action: none;

    &:hover {
      opacity: 1;
    }

    &.isResizing {
      border-right: 1px solid #5f5f5f;
      opacity: 1;
    }
  }

  &-button {
    cursor: pointer;
  }

  &-pagination {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1112px) {
  .parent_table {
    overflow-x: scroll;
  }
}

@media (max-width: 430px) {
  .table {
    font-size: 14px;

    &-pagination {
      & button {
        font-size: 14px;
      }
    }
  }
}
