/* MAIN PAGE */

button {
  color: #ffffff;
}

/* SIDEBAR */

.ReactCollapse--collapse {
  transition: height 500ms;
}

.compiler-sidebar {
  background-color: #0d1117;
  width: 300px;
  //height: 100%;
  // left: 64px;
  // top: 100px;
  // z-index: 2;

  &-container {
    padding: 28px 0 28px 10px;
  }

  &-info {
    &-main {
    }
  }

  &-arrow {
    width: 21px;
    height: 21px;
    transition: 0.5s;

    &.active {
      transform: rotateX(180deg);
    }
  }

  &-tab {
    &-button {
      display: flex;
      column-gap: 4px;

      width: 100%;
      padding: 10px 0;

      text-align: left;
      vertical-align: middle;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &-icon {
    width: 22px;
    height: 22px;
    padding: 2px;
  }

  &-rename {
    display: flex;
    column-gap: 2px;
    align-items: center;

    &-input {
      width: 170px;
    }

    &-button {
      width: 20px;
      height: 20px;
    }
  }
}

div .compiler-sidebar-icon {
  vertical-align: middle;
}

.compiler-context-menu {
  position: absolute;
  z-index: 10;
  background-color: #171b20;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  border-radius: 8px;

  &_item {
    width: 200px;
    padding: 6px 12px;

    &:hover {
      background-color: #1d2125;
      border-radius: 8px;
    }
  }
}

.compiler-main {
  width: 100%;
  //min-height: 100%;
  //height: 100%;
  //height: fit-content;

  display: flex;
}

.compiler {
  background-color: #0d1117;
  width: 100%;
  height: 100%;

  &-container {
    width: 100%;
    height: 100%;
    padding-top: 16px;
  }

  &-blocks {
    display: flex;
    gap: 4px;
    width: 100%;
    height: 100%;
  }

  &-part {
    display: flex;
    flex-flow: column;
    // justify-content: flex-start;
    height: 100%;

    //max-width: calc((100vw - 300px) / 2);
    //width: 100%;
  }
}

/* EDITOR */

.editor {
  overflow: hidden;

  width: 100%;
  height: 100%;

  border-left: 1px solid #1d2125;

  &-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &-tabs {
    display: flex;

    &-close-button {
      position: absolute;
      right: 2px;
      top: 10px;
      z-index: 1000;
      width: 24px;
      height: 24px;
    }
  }

  &-tab {
    cursor: pointer;

    position: relative;
    z-index: 1;
    //display: flex;

    width: 170px;
    //height: 100%;

    padding: 12px 20px;

    transition: 0.3s ease-out;
    border: 1px solid #13171d;

    &.active {
      position: relative;
      background-color: #171b20;

      z-index: 2;

      & button {
        font-style: italic;
        color: #ffffff;
      }

      &:hover {
        background-color: #1d2125;
      }
    }

    & button {
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover {
      background-color: #171b20;
    }
  }

  &-workspace {
    position: relative;
    height: 100%;

    background-color: #13171d;
    z-index: 1;
  }
}

/* OUTPUT */

.output {
  border-left: 1px solid #1d2125;

  flex: 1 1 0;

  width: 100%;
  height: 100%;

  background-color: #13171d;

  &-container {
    // padding: 16px 19px;
  }

  &-tabs {
    display: flex;
  }

  &-tab {
    padding: 12px 20px;

    transition: 0.3s ease-out;

    &.active {
      position: relative;
      background-color: #13171d;

      z-index: 2;

      & button {
        font-style: italic;
        color: #ffffff;
      }

      &:hover {
        background-color: #1d2125;
      }
    }

    & button {
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover {
      background-color: #171b20;
    }
  }

  &-mainspace {
    position: relative;

    background-color: #13171d;
    z-index: 1;
    border-left: 1px solid #1d2125;
    height: 100%;
  }
}

/* CONSOLE */

.console {
  width: 100%;
  height: 100%;
  background-color: #13171d;
  border-left: 1px solid #1d2125;
  border-top: 1px solid #1d2125;
  // box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

  &-container {
    padding: 12px;
  }

  &-bar {
    padding: 12px;

    border-bottom: 1px solid #1d2125;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    display: flex;
    column-gap: 36px;
    align-items: center;

    & button {
      width: 18px;
      height: 18px;
    }
  }

  &-dev {
    display: flex;
    column-gap: 4px;
    align-items: center;
  }

  &-text {
    position: relative;
    box-sizing: border-box;
    padding: 16px 20px;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: scroll;

    &-div {
      display: inline-block;
      box-sizing: border-box;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
    }

    &-input {
      display: inline-block;
      background-color: transparent;
      border: none;
      padding: 12px 8px;
      width: 75%;

      margin-bottom: 400px;
    }

    &-item {
      margin: 12px 0;
      word-wrap: break-word;
    }

    &-user {
      //display: inline-block;
      cursor: pointer;
    }
  }
}

.inline-text_copy--active,
.inline-text_copy--hidden {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.inline-text {
  display: inline-block;
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active.input,
.inline-text_input--hidden.input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.inline-text_input--active.input {
  text-align: left;
}
