/* MAIN PAGE */

button {
  color: #ffffff;
}

/* SIDEBAR */

.ReactCollapse--collapse {
  transition: height 500ms;
}

.compiler-sidebar {
  background-color: #0d1117;
  width: 100%;
  height: 100%;
  // left: 64px;
  // top: 100px;
  // z-index: 2;

  &-element_file {
    opacity: 0.7;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    transition: all 0.4s ease-in;
    box-sizing: border-box;

    &:hover {
      opacity: 1;
      border: 1px solid #797ef9;
      background-color: #1e2632;
      border-radius: 4px;
    }
  }

  &-files-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
  }

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &-absolute {
      width: 100%;
      height: 100%;
      padding: 28px 12px;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
    }
  }

  &-info {
    &-main {
      white-space: nowrap;
    }
  }

  &-arrow {
    width: 21px;
    height: 21px;
    transition: 0.5s;

    &.active {
      transform: rotateX(180deg);
    }
  }

  &-tab {
    &-button {
      display: flex;
      column-gap: 4px;

      width: 100%;
      padding: 10px 0;

      text-align: left;
      vertical-align: middle;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &-icon {
    width: 22px;
    height: 22px;
    padding: 2px;
  }

  &-rename {
    display: flex;
    column-gap: 2px;
    align-items: center;

    &-input {
      width: 170px;
    }

    &-button {
      width: 20px;
      height: 20px;
    }
  }
}

div .compiler-sidebar-icon {
  vertical-align: middle;
}

.compiler-context-menu {
  position: absolute;
  z-index: 10;
  background-color: #171b20;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  border-radius: 8px;

  &_item {
    cursor: pointer;
    width: 200px;
    padding: 6px 12px;

    &:hover {
      background-color: #1d2125;
      border-radius: 8px;
    }
  }
}

.compiler-main {
  width: 100%;
  //min-height: 100%;
  //height: 100%;
  //height: fit-content;

  display: flex;
}

.compiler {
  background-color: #0d1117;
  width: 100%;
  height: 100%;

  &-task-container {
    padding: 36px 28px 70px 28px;
    max-height: 300px;
    overflow: auto;

    & > .markdown-h3 {
      text-align: center;
      align-items: center;
    }
  }

  &-task-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    &.example {
      display: flex;
      justify-content: space-between;
    }
  }

  &-container {
    width: 100%;
    height: 100%;
    //padding-top: 16px;
  }

  &-blocks {
    display: flex;
    gap: 4px;
    width: 100%;
    height: 100%;
  }

  &-part {
    display: flex;
    flex-flow: column;
    // justify-content: flex-start;
    height: 100%;

    //max-width: calc((100vw - 300px) / 2);
    //width: 100%;
  }
}

/* EDITOR */

.editor {
  overflow: hidden;

  width: 100%;
  height: 100%;

  border-left: 1px solid #1d2125;

  &-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &-tabs {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    height: 100%;
    background-color: #0D0D0D;
    padding-right: 24px;

    &-file {
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      //scrollbar-width: none;

      box-sizing: content-box;

      &:only-child {
        width: 100%;
      }
    }

    &-buttons {
      display: flex;
      text-align: center;
      align-items: center;
      padding-left: 64px;
    }

    &-close-button {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1000;
      width: 16px;
      height: 16px;
    }
  }

  &-tab {
    cursor: pointer;
    min-width: fit-content;
    //width: 120px;
    flex-shrink: 0;
    height: 50px;
    line-height: 50px;

    position: relative;

    padding-left: 24px;
    padding-right: 60px;

    text-wrap: none;
    white-space: nowrap;


    transition: 0.3s ease-out;
    border: 1px solid #13171d;

    z-index: 1;

    &.active {
      position: relative;
      background-color: #171b20;

      z-index: 2;

      & button {
        font-style: italic;
        color: #ffffff;
      }

      &:hover {
        background-color: #1d2125;
      }
    }

    & button {
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover {
      background-color: #171b20;
    }
  }

  &-workspace {
    position: relative;
    height: 100%;

    background-color: #13171d;
    z-index: 1;
  }
}

/* OUTPUT */

.output {
  border-left: 1px solid #1d2125;

  flex: 1 1 0;

  width: 100%;
  height: 100%;

  background-color: #13171d;

  &-container {
    // padding: 16px 19px;
  }

  &-tabs {
    background-color: #0D0D0D;
    padding: 7.5px 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-tab {
    padding: 12px 20px;

    transition: 0.3s ease-out;

    &.active {
      position: relative;
      background-color: #13171d;

      z-index: 2;

      & button {
        font-style: italic;
        color: #ffffff;
      }

      &:hover {
        background-color: #1d2125;
      }
    }

    & button {
      color: rgba(255, 255, 255, 0.6);
    }

    &:hover {
      background-color: #171b20;
    }
  }

  &-mainspace {
    position: relative;

    background-color: #13171d;
    z-index: 1;
    border-left: 1px solid #1d2125;
    height: 100%;
  }
}

/* CONSOLE */

.console {
  width: 100%;
  height: 100%;
  background-color: #13171d;
  border-left: 1px solid #1d2125;
  border-top: 1px solid #1d2125;
  // box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

  &-container {
    padding: 12px;
  }

  &-bar {
    padding: 12px;

    border-bottom: 1px solid #1d2125;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    display: flex;
    column-gap: 36px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    & button {
      width: 18px;
      height: 18px;
    }
  }

  &-dev {
    display: flex;
    column-gap: 4px;
    align-items: center;
  }

  &-text {
    position: relative;
    box-sizing: border-box;
    padding: 16px 20px;
    //margin-bottom: 100px;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: scroll;

    &-div {
      display: inline-block;
      box-sizing: border-box;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
    }

    &-input {
      display: inline-block;
      background-color: transparent;
      border: none;
      padding: 12px 8px;
      width: 75%;

      margin-bottom: 300px;
    }

    &-item {
      margin: 12px 0;
      word-wrap: break-word;
      font-size: 14px;
    }

    &-user {
      //display: inline-block;
      cursor: pointer;
    }
  }
}

.inline-text_copy--active,
.inline-text_copy--hidden {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.inline-text {
  display: inline-block;
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active.input,
.inline-text_input--hidden.input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.inline-text_input--active.input {
  text-align: left;
}

.collapse {
  &-header {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &-buttons {
      display: flex;
      align-items: center;
    }
  }
}
