.profile {
  &-container {
    margin: 0 auto;
  }

  &-section {
    display: flex;
    column-gap: 28px;
    padding: 28px 28px;
    width: 100%;

    &-main {
      position: relative;
      width: 100%;
      border: 1px solid #5f5f5f;
      border-radius: 12px;
      background-color: #161b22;
      max-width: 1134px;

      &-header {
        width: 100%;
        height: 194px;

        &-background {
          position: relative;
          // overflow: hidden;
          max-width: 100%;
          height: 194px;

          & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px 12px 0 0;
          }
        }

        &-buttons {
          position: absolute;
          z-index: 2;
          right: 16px;
          top: 16px;

          height: 28px;

          background-color: rgba(166, 166, 166, 0.4);
          border-radius: 4px;
        }

        &-button {
          width: 28px;
          height: 28px;
          padding: 4px;

          transition: 0.2s ease-in-out;

          &-menu {
            display: none;
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
          }
        }
      }

      &-difficulty {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding-top: 12px;
        font-size: 18px;
        font-weight: 400;
        user-select: none;
      }

      &-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        justify-content: center;
        padding: 28px;
      }
    }

    &-sidebar {
      padding-top: 30px;
      width: 229px;

      &-tabs {
        width: 210px;
      }

      &-tab {
        padding: 16px 0;
        border-bottom: 1px solid #242424;

        &-text {
          padding-left: 8px;
          transition: 0.3s ease-out;

          &:hover {
            cursor: pointer;
            color: rgba($color: #ffffff, $alpha: 0.5);
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      &-nickname {
        font-weight: 500;
        font-size: 18px;
      }

      &-name {
        padding-left: 8px;
        font-weight: 400;
        font-size: 16px;
        color: rgba($color: #ffffff, $alpha: 0.8);
      }
    }
  }

  &-difficulty {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding-top: 24px;
    font-size: 18px;
    font-weight: 400;
    user-select: none;

    &-range {
      display: flex;
      column-gap: 8px;

      &-item {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #ffffff;

        &.active {
          content: "";
          background-color: #fff;
        }
      }
    }
  }
}

/* ГЛАВНАЯ СТРАНИЦА ПРОФИЛЯ */

/* Карточка с информацией о пользователе */

.info {
  &-about {
    padding: 20px;
    height: 295px;
    width: calc(50% - 14px);
    background-color: #0d1117;
    border-radius: 12px;

    &-name {
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      &-leftside {
        display: flex;
        column-gap: 12px;
        align-items: center;
      }

      &-nameblock {
        max-width: 200px;
        width: 200px;

        &-nickname {
          font-size: 24px;
          font-weight: 500;
        }

        &-realname {
          font-size: 16px;
          font-weight: 400;
          color: rgba($color: #ffffff, $alpha: 0.8);
        }
      }

      &-status {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 400;
        color: rgba($color: #ffffff, $alpha: 0.8);
        user-select: none;
      }

      &-edit {
        margin-top: 8px;
        padding: 4px;
        background-color: rgba($color: #a6a6a6, $alpha: 0.3);
        border-radius: 4px;
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
        }
      }

      &-photo {
        position: relative;

        width: 68px;
        height: 68px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 34px;
        user-select: none;

        & img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
    }

    &-bio {
      padding-top: 16px;

      &-title {
        font-size: 18px;
        font-weight: 500;
        user-select: none;
      }

      &-text {
        padding-top: 4px;
        height: 105px;
        color: rgba($color: #ffffff, $alpha: 0.8);
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      font-size: 14px;
      color: rgba($color: #ffffff, $alpha: 0.6);
      user-select: none;
    }
  }

  &-currentcourse {
    padding: 20px;
    height: 295px;
    width: calc(50% - 14px);
    background-color: #0d1117;
    border-radius: 12px;

    &-title {
      font-size: 20px;
      text-align: center;
    }
  }
}

/* Карточка с текущими курсами */

.currentcourse {
  padding: 20px;
  height: 295px;
  width: calc(50% - 14px);
  background-color: #0d1117;
  border-radius: 12px;

  &-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    user-select: none;
  }

  & a {
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    user-select: none;
  }

  &-course {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    width: inherit;

    &-content {
      height: 100%;
      width: 484px;
    }

    &-info {
      &-title {
        max-width: 300px;
        font-size: 24px;
        font-weight: 500;
      }

      &-rate {
        padding-top: 20px;
        display: flex;
        column-gap: 20px;

        &-arrow {
          cursor: pointer;
        }

        &-like {
          display: flex;
          column-gap: 8px;
          align-items: center;

          &-text {
            color: #2ea043;
            user-select: none;
          }
        }

        &-dislike {
          display: flex;
          column-gap: 8px;
          align-items: center;

          &-text {
            color: #db5b42;
            user-select: none;
          }
        }

        &-arrow {
          padding: 2px;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background-color: rgba($color: #2d2d2d, $alpha: 0.6);
        }
      }
    }
  }

  &-progress {
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-bar {
      content: "";
      width: 100%;
      height: 1px;
      border: 1px solid #242424;
    }

    &-text {
      padding-top: 12px;
      font-size: 14px;
      font-weight: 400;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &-slider {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    height: 28px;
    border: 1px solid #ffffff;
  }
}

/* Карточка с проектами */

.profile-projects {
  padding: 20px;
  height: 295px;
  width: calc(50% - 14px);
  background-color: #0d1117;
  border-radius: 12px;

  &-header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    user-select: none;

    &-title {
      font-size: 24px;
      font-weight: 500;
    }

    &-linkall {
      display: flex;
      column-gap: 6px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &-content {
    height: 100%;
    width: 484px;
  }

  &-info {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: inherit;

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 4px;

      &-name {
        max-width: 350px;
        height: 52px;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        text-align: left;
      }

      &-access {
        font-size: 16px;
        font-weight: 400;
        color: rgba($color: #ffffff, $alpha: 0.6);
        user-select: none;
      }
    }
  }

  &-desc {
    padding-top: 15px;
    height: 84px;
    font-size: 16px;
    font-weight: 400;
    color: rgba($color: #ffffff, $alpha: 0.8);
  }

  &-bottom {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    user-select: none;

    &-date {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }

    &-delete {
      display: none;
      column-gap: 8px;
      color: #db5b42;

      &:hover {
        cursor: pointer;
      }
    }

    &-lang {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &-slider {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    height: 28px;
    border: 1px solid #ffffff;
  }
}

/* СТРАНИЦА С СОЗДАННЫМИ КУРСАМИ */

/* Карточка со списком созданных курсов */

.created {
  &-course {
    padding: 20px;
    height: 591px;
    width: calc(50% - 14px);
    border-radius: 12px;
    background-color: #0d1117;

    &-content {
      width: 100%;
    }

    &-header {
      position: relative;

      display: flex;
      justify-content: space-between;

      &-tags {
        display: flex;
        column-gap: 20px;
        width: 485px;
        height: 37px;
      }

      &-tag {
        padding: 8px 16px;
        border-radius: 100px;
        background-color: rgba($color: #2d2d2d, $alpha: 0.6);
      }
    }

    &-info {
      padding-top: 24px;

      &-title {
        font-size: 28px;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }

      &-desc {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-text {
          height: 84px;
          margin-top: 17px;

          &-img {
            height: 100px;
          }
        }
      }
    }

    &-cards {
      display: flex;
      column-gap: 12px;
      padding-top: 24px;
    }

    &-card {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 12px 16px;
      height: 134px;
      background-color: rgba($color: #2d2d2d, $alpha: 0.6);
      border-radius: 8px;

      &-img {
        height: 40px;
        width: 40px;
      }
    }

    &-stat {
      padding-top: 20px;
      display: flex;
      column-gap: 18px;
      font-size: 14px;
      font-weight: 300;

      &-rate {
        display: flex;
        column-gap: 14px;

        &-like {
          display: flex;
          column-gap: 8px;
          align-items: center;

          &-text {
            color: #2ea043;
          }
        }

        &-dislike {
          display: flex;
          column-gap: 8px;
          align-items: center;

          &-text {
            color: #db5b42;
          }
        }
      }

      &-view {
        display: flex;
        align-items: center;
        column-gap: 6px;
      }

      &-ended {
        display: flex;
        align-items: center;
        column-gap: 6px;
      }
    }

    &-bottom {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &-courses {
    &-header {
      position: relative;
      padding: 28px 28px 0 28px;
      text-align: center;
      user-select: none;

      & h1 {
        font-size: 36px;
      }

      & .lessons-header-back {
        top: 41.5px;
        left: 28px;
      }
    }
  }

  &-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 591px;
    width: calc(50% - 14px);
    border-radius: 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%235F5F5FFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    &:hover {
      content: "";
      cursor: pointer;
      background-color: rgba($color: #2d2d2d, $alpha: 0.1);
    }

    &-img {
      height: 97px;
      width: 97px;
    }

    &-text {
      padding-top: 28px;
      font-size: 24px;
      font-weight: 400;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }
}

/* СТРАНИЦА С ВОПРОСАМИ */

/* Класс для распределения всех карточек */

.profile-questions {
  padding: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.profile-question {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: calc(50% - 14px);
  background-color: #0d1117;
  border-radius: 12px;

  &-ask {
    padding: 24px;
    display: flex;
    justify-content: center;
    height: 110px;
    width: calc(50% - 14px);
    border-radius: 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%235F5F5FFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    &:hover {
      content: "";
      cursor: pointer;
      background-color: rgba($color: #2d2d2d, $alpha: 0.1);
    }

    &-items {
      display: flex;
      align-items: center;
      column-gap: 7px;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &-text {
    &-title {
      font-size: 20px;
      font-weight: 500;
    }

    &-stat {
      padding-top: 8px;
      display: flex;
      column-gap: 20px;
      align-items: center;

      &-comment {
        display: flex;
        column-gap: 3px;
        align-items: center;

        &-img {
          height: 28px;
          width: 28px;
          padding: 4px;
          background-color: rgba($color: #2d2d2d, $alpha: 0.5);
          border-radius: 2px;
        }
      }
    }
  }
}

/* СТРАНИЦА С СОЗДАННЫМИ ЗАДАЧАМИ */

/* Класс для распределения всех карточек */

.profile-tasks {
  padding: 28px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;

  &-slider {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    border: 1px solid #ffffff;
  }
}

.profile-task {
  padding: 24px;
  height: 591px;
  width: calc(50% - 14px);
  border-radius: 12px;
  background-color: #0d1117;

  &-title {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 500;
  }

  &-desc {
    padding-top: 12px;
    height: 189px;
    max-height: 189px;
  }

  &-stat {
    padding: 24px 0;
    display: flex;
    column-gap: 18px;
    font-size: 14px;
    font-weight: 300;
  }

  &-complete {
    padding: 24px;
    height: 535px;
    width: calc(50% - 14px);
    border-radius: 12px;
    background-color: #0d1117;

    &-stat {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }

    &-solution {
      font-size: 14px;

      &.end {
        display: flex;
        align-items: center;
        column-gap: 6px;
        color: #2ea043;
      }
    }
  }
}

/* СТРАНИЦА С ПРОЕКТАМИ */

.profile-projects-page {
  padding: 28px;
  position: relative;

  &-header {
    display: flex;
    padding-bottom: 53px;
  }

  &-nav {
    display: flex;
    align-items: center;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 485px;

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 12px;
    }
  }

  &-title {
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 480.4px;
  }

  &-main {
    &-content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

.profile-projects-card {
  padding: 20px;
  height: 265px;
  width: calc(50% - 14px);
  background-color: #0d1117;
  border-radius: 12px;

  &-button {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 265px;
    width: calc(50% - 14px);
    border-radius: 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%235F5F5FFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    &:hover {
      content: "";
      cursor: pointer;
      background-color: rgba($color: #2d2d2d, $alpha: 0.1);
    }

    &-items {
      display: flex;
      align-items: center;
      column-gap: 7px;
      color: rgba($color: #ffffff, $alpha: 0.6);
      font-size: 24px;
    }

    &-text {
    }
  }

  &:hover {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%235F5F5FFF' stroke-width='1' stroke-dasharray='0' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  &-desc {
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    height: 140px;
    color: rgba($color: #ffffff, $alpha: 0.8);
  }
}

/* СТРАНИЦА С ПРОЙДЕННЫМИ КУРСАМИ */

.profile-completed {
  &-page {
    &-title {
      font-size: 36px;
      text-align: center;
      position: absolute;
      left: 383.2px;
    }

    &-main {
      // display: flex;
      // flex-wrap: wrap;
      // column-gap: 28px;
    }
  }

  &-card {
    padding: 20px;
    height: 591px;
    width: calc(50% - 14px);
    background-color: #0d1117;
    border-radius: 12px;

    &-stat {
      padding-top: 18px;
      display: flex;
      justify-content: space-between;

      &-lang {
        font-size: 14px;
        color: rgba($color: #ffffff, $alpha: 0.6);
      }
    }

    &-about {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      padding-top: 14px;
      font-size: 14px;
      color: rgba($color: #ffffff, $alpha: 0.6);
    }

    &-progress {
      padding-top: 20px;

      &-bar {
        width: 100%;
        height: 4px;
        background-color: #797ef9;
        border-radius: 2px;
      }

      &-value {
        padding-top: 12px;
        font-size: 14px;
        font-weight: 300;
        color: rgba($color: #ffffff, $alpha: 0.6);
        text-align: right;
      }
    }
  }
}

/* СТРАНИЦА С ТЕКУЩИМИ КУРСАМИ */

.profile-current {
  &-page {
    &-title {
      font-size: 36px;
      text-align: center;
      position: absolute;
      left: 425.6px;
    }
  }

  &-card {
    padding: 20px;
    // height: 623px;
    width: calc(50% - 14px);
    background-color: #0d1117;
    border-radius: 12px;

    &.created-card {
      padding: 0;
      width: 100%;
    }

    &-button {
      padding-top: 24px;
      display: flex;
      justify-content: center;
    }
  }
}

.profile-none {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 28px;
  text-align: center;
  color: rgba($color: #ffffff, $alpha: 0.6);
}

.profile-popup {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 16px;

  padding: 4px 8px;

  width: 170px;

  font-size: 14px;

  background-color: #0d1117;
  border-radius: 8px 0 8px 8px;

  &-list {
    & li {
      padding: 4px 0;
      border-bottom: 1px solid #242424;

      transition: 0.3s ease-in-out;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &:first-child {
        font-weight: 500;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
//1440
// @media (max-width: 1440px) {
//   .profile {
//     &-section {
//       padding: 28px 0;
//       column-gap: 20px;

//       &-main {
//         max-width: 1090px;
//         &-cards {
//           padding: 28px 20px;
//         }
//       }
//     }
//   }
// }

/* MAIN PAGE PROFILE */
//1024
@media (max-width: 1440px) {
  .profile {
    &-section {
      padding: 28px 0;
      column-gap: 20px;

      &-sidebar {
        display: none;
      }

      &-main {
        margin: 0 auto;
        max-width: 1090px;
        width: 905px;

        &-header {
          &-button {
            &-menu {
              display: inline-block;
            }
          }
        }

        &-cards {
          padding: 28px 20px;
        }
      }
    }
  }

  .info {
    &-about {
      padding: 18px;
      height: 255px;

      &-name {
        &-leftside {
          column-gap: 10px;
        }
        &-photo {
          width: 55px;
          height: 55px;
        }

        &-nameblock {
          width: 170px;

          &-nickname {
            font-size: 20px;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &-realname {
            font-size: 14px;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &-status {
          font-size: 14px;
        }
      }

      &-bio {
        padding-top: 12px;
        &-title {
          font-size: 16px;
        }

        &-text {
          font-size: 14px;
          height: 80px;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &-bottom {
        padding-top: 12px;
        flex-direction: column;
      }
    }
  }

  .currentcourse {
    padding: 18px;
    height: 255px;
    width: 417px;

    &-course {
      &-content {
        width: 381px;
      }

      &-image {
        width: 100px;
      }

      &-info {
        &-rate {
          padding-top: 12px;
        }
      }
    }

    &-progress {
      padding-top: 16px;

      &-text {
        padding-top: 8px;
      }
    }

    &-title,
    & a {
      font-size: 20px;
    }

    &-course {
      padding-top: 23px;

      &-info {
        &-title {
          font-size: 20px;
        }
      }
    }
  }

  .profile-projects {
    padding: 18px;
    height: 255px;
    width: 417px;

    &-content {
      width: 381px;
    }

    &-header {
      &-title {
        font-size: 20px;
      }

      &-linkall {
        font-size: 14px;
      }
    }

    &-info {
      &-text {
        &-name {
          height: 27px;
          width: 250px;

          font-size: 18px;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &-access {
          font-size: 14px;
        }
      }
    }

    &-desc {
      font-size: 14px;
    }

    &-bottom {
      padding-top: 12px;
    }
  }
}
//768
@media (max-width: 1024px) {
  .profile {
    &-section {
      &-main {
        margin: 0 auto;
        max-width: 571px;
        &-cards {
          flex-direction: column;
          gap: 20px;

          padding: 28px 20px;
        }

        &-header {
          height: 150px;
          &-background {
            height: 150px;
            & img {
              height: 150px;
            }
          }
        }
      }
    }
  }

  .info {
    &-about {
      padding: 18px;
      width: 100%;
      // height: 295px;

      &-bottom {
        padding-top: 12px;
        flex-direction: row;
      }
    }
  }

  .currentcourse {
    padding: 18px;
    width: 529px;

    &-course {
      &-content {
        width: 489px;
      }

      &-image {
        width: 120px;
      }
    }
  }

  .profile-projects {
    padding: 18px;
    width: 529px;

    &-content {
      width: 493px;
    }

    &-info {
      &-text {
        &-name {
          width: 300px;
        }
      }
    }
  }

  .created-courses-header {
    & h1 {
      margin-top: 30px;
      font-size: 28px;
    }

    & .lessons-header-back {
      top: 36px;
      font-size: 14px;
    }
  }
}

@media (max-width: 678px) {
  .profile {
    &-section {
      &-main {
        margin: 0 auto;
        max-width: 571px;
        width: 374px;
        &-cards {
          flex-direction: column;
          gap: 20px;

          padding: 28px 20px;
        }

        &-header {
          height: 120px;
          &-background {
            height: 120px;
            & img {
              height: 120px;
            }
          }
        }
      }
    }
  }

  .info {
    &-about {
      height: inherit;
      &-name {
        position: relative;
        flex-direction: column;
        align-items: center;

        &-leftside {
          flex-direction: column;
          text-align: center;
        }

        &-status {
          padding-top: 8px;
        }

        &-edit {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .profile-section-main-difficulty {
    font-size: 14px;
    column-gap: 12px;
  }

  .profile-difficulty-range {
    column-gap: 6px;

    &-item {
      width: 8px;
      height: 8px;
    }
  }

  .currentcourse {
    padding: 18px;
    height: 255px;
    width: 332px;

    &-course {
      padding-top: 20px;
      &-content {
        width: 296px;
      }

      &-image {
        width: 100px;
      }

      &-info {
        &-rate {
          padding-top: 12px;

          &-arrow {
            width: 18px;
            height: 18px;
          }

          &-like {
            column-gap: 6px;
            font-size: 14px;
          }

          &-dislike {
            column-gap: 6px;
            font-size: 14px;
          }
        }
      }
    }

    &-progress {
      padding-top: 16px;

      &-text {
        padding-top: 8px;
      }
    }

    &-title,
    & a {
      font-size: 20px;
    }
  }

  .profile-projects {
    padding: 18px;
    width: 332px;

    &-page {
      padding: 28px 20px;
    }

    &-content {
      width: 296px;
    }

    &-info {
      &-text {
        flex-direction: column;
        align-items: baseline;
        &-name {
          width: 250px;
        }
      }
    }

    &-desc {
      height: 80px;
    }
  }

  .created-courses-header {
    padding: 28px 20px 0 20px;

    & h1 {
      margin-top: 30px;

      font-size: 24px;
    }

    & .lessons-header-back {
      top: 28px;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .profile {
    &-section {
      &-main {
        // margin: 0;
        width: 319px;

        &-cards {
          padding: 20px;
        }
      }
    }
  }

  .info {
    &-about {
      padding: 18px;
      // width: 332px;
      // height: 295px;

      &-bottom {
        padding-top: 12px;
        flex-direction: row;
      }
    }
  }

  .currentcourse {
    padding: 18px;
    width: 277px;

    &-course {
      &-content {
        width: 241px;
      }

      &-image {
        display: none;
      }
    }
  }

  .profile-projects {
    padding: 18px;
    height: inherit;
    width: 277px;

    &-header {
      column-gap: 12px;
    }

    &-content {
      width: 241px;
    }

    &-info {
      &-text {
        &-name {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .profile {
    &-section {
      &-main {
        margin: 0;
        width: 100%;

        &-cards {
          padding: 20px;
        }
      }
    }
  }
}

/* COURSES PROFILE */

@media (max-width: 1440px) {
  .profile {
    &-difficulty {
      padding-top: 12px;

      font-size: 16px;

      &-range {
        column-gap: 6px;

        &-item {
          width: 9px;
          height: 9px;
        }
      }
    }

    &-completed {
      &-card {
        &-stat {
          padding-top: 12px;

          &-lang {
            font-size: 13px;
          }
        }

        &-about {
          font-size: 13px;
        }

        &-progress {
          padding-top: 10px;

          &-value {
            padding-top: 8px;
          }
        }
      }
    }
  }

  .created-course {
    height: 500px;
    width: 410px;
    &-header {
      &-tags {
        column-gap: 14px;

        width: 370px;
        height: 31px;
      }

      &-tag {
        padding: 6px 12px;

        font-size: 14px;
      }
    }

    &-info {
      padding-top: 8px;

      &-title {
        font-size: 24px;
      }

      &-desc {
        &-text {
          margin-top: 12px;

          width: 300px;
          height: 70px;

          font-size: 14px;
        }

        &-img {
          width: 70px;
        }
      }
    }

    &-stat {
      &-view,
      &-ended {
        font-size: 14px;
      }
    }

    &-cards {
      padding-top: 12px;
    }

    &-card {
      height: 111px;

      font-size: 14px;

      &-img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .created-button {
    width: 410px;
    height: 500px;
  }

  .profile-current {
    &-card {
      width: 410px;
      height: 500px;

      &.created-card {
        height: 430px;
        width: 377.5px;
      }

      &-button {
        padding-top: 6px;

        & > * {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .created-course {
    margin: 0 auto;
  }

  .created-button {
    margin: 0 auto;

    height: 100px;

    &-content {
      display: flex;
      align-items: center;
      column-gap: 12px;

      & svg {
        width: 50px;
        height: 50px;
      }
    }

    &-text {
      padding-top: 0;
    }
  }

  .profile-section-main-cards.created-page {
    flex-direction: column;
  }
}

@media (max-width: 678px) {
  .profile-difficulty {
    width: 292px;
  }

  .created-course {
    margin: 0;

    width: 332px;
    height: 478px;

    &-header {
      &-tags {
        width: 292px;
      }
    }

    &-info {
      &-title {
        width: 292px;

        font-size: 18px;
      }

      &-desc {
        width: 292px;

        &-text {
          height: 74px;
        }

        &-img {
          display: none;
        }
      }
    }

    &-cards {
      flex-direction: column;
      row-gap: 8px;

      width: 292px;
    }

    &-card {
      flex-wrap: nowrap;
      column-gap: 8px;
      justify-content: start;

      padding: 0;

      height: inherit;

      text-align: left;

      background-color: transparent;
      border-radius: 0;

      &-img {
        width: 21px;
        height: 21px;
      }
    }

    &-stat {
      flex-direction: column;
      row-gap: 8px;

      padding-top: 0;
    }
  }

  .created-button {
    width: 332px;
    height: 80px;

    &-content {
      & svg {
        width: 40px;
        height: 40px;
      }
    }

    &-text {
      font-size: 20px;
    }
  }

  .profile-completed {
    &-card {
      &-about {
        // flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .profile-current {
    &-card {
      width: 332px;
      height: 478px;

      &.created-card {
        height: 408px;
      }
    }
  }
}

@media (max-width: 480px) {
  .profile-difficulty {
    width: 229px;
  }

  .profile {
    &-section {
      &-main {
        // margin: 0;
        width: 319px;

        &-cards {
          padding: 20px;
        }
      }
    }
  }

  .info {
    &-about {
      padding: 18px;
      // width: 332px;
      // height: 295px;

      &-bottom {
        padding-top: 12px;
        flex-direction: row;
      }
    }
  }

  .currentcourse {
    padding: 18px;
    width: 277px;

    &-course {
      &-content {
        width: 241px;
      }

      &-image {
        display: none;
      }
    }
  }

  .profile-projects {
    padding: 18px;
    height: inherit;
    width: 277px;

    &-content {
      width: 241px;
    }

    &-info {
      &-text {
        &-name {
          width: 210px;
        }
      }
    }
  }

  .created-course {
    width: 277px;

    &-header {
      &-tags {
        width: 229px;
      }
    }

    &-stat {
      flex-direction: column;
      row-gap: 8px;
      &-view {
        & svg {
          width: 18px;
          height: 18px;
        }
      }

      &-ended {
        & svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .created-button {
    width: 277px;

    &-content {
      & svg {
        width: 20px;
        height: 20px;
      }
    }

    &-text {
      font-size: 18px;
    }
  }

  .profile-current {
    &-card {
      &.created-card {
        width: 237px;
      }
    }
  }

  .profile-completed {
    &-card {
      &-about {
        flex-direction: column;
        padding-top: 8px;
        gap: 6px;

        font-size: 12px;
      }

      &-stat {
        &-lang {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
        }
      }
    }
  }
}

/* PROJECTS */

@media (max-width: 1540px) {
  .profile-projects {
    &-page {
      &-info {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .profile-projects {
    &-page {
      &-main-content {
        flex-direction: column;
      }
    }
    &-card {
      width: 100%;

      &-button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 678px) {
  .profile-projects {
    &-card {
      height: 200px;

      &-button {
        height: 80px;
      }

      &-desc {
        height: 88px;
        font-size: 14px;
      }
    }
    &-info {
      &-text {
        &-name {
          font-size: 16px;
        }
      }
    }

    &-page {
      &-info {
        position: relative;
        &-text {
          flex-direction: column;
          align-items: baseline;
          max-width: 268px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .profile-projects {
    &-card {
      &-button {
        height: 80px;

        &-items {
          font-size: 18px;
          column-gap: 10px;

          & svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
    //profile-projects-card-button-items

    &-info {
      &-text {
        &-name {
          // max-width: 210px;
        }
      }
    }

    &-page {
      &-info {
        &-text {
          flex-direction: column;
          align-items: baseline;

          &-name {
            max-width: 237px;
            height: 54px;
          }
        }

        & svg {
        }
      }
    }
  }
}

/* TASKS */

@media (max-width: 1440px) {
  .profile-tasks {
    padding: 28px 20px;
  }

  .profile-task {
    width: 410px;
    height: 500px;
    &-title {
      padding-top: 16px;

      font-size: 24px;
    }

    &-desc {
      padding-top: 10px;

      height: 150px;

      font-size: 14px;
    }

    &-stat {
      padding: 14px 0;
      column-gap: 8px;
    }

    &-complete {
      width: 410px;
      height: 500px;
    }
  }
}

@media (max-width: 1024px) {
  .profile-tasks {
    row-gap: 28px;
  }

  .profile-task {
    margin: 0 auto;
  }
}

@media (max-width: 678px) {
  .profile-task {
    margin: 0;
    padding: 20px;

    width: 332px;

    &-desc {
      height: 130px;
    }

    &-stat {
      padding: 11px 0;
      flex-direction: column;
      row-gap: 8px;
    }

    & button {
      font-size: 14px;
    }

    &-complete {
      width: 332px;

      &-stat {
        flex-direction: column;
        align-items: baseline;
        row-gap: 8px;
      }
    }
  }
}

@media (max-width: 480px) {
  .profile-task {
    width: 277px;
    height: 490px;

    &-title {
      font-size: 18px;
    }

    &-complete {
      width: 277px;
    }
  }
}
