.profile {


  &-container{
    margin: 0 auto;

    }

  &-section {
    display: flex;
    column-gap: 28px;
    padding: 28px 28px;
    width: 100%;

    &-main {
      width: 100%;
      border: 1px solid #5F5F5F;
      border-radius: 12px;

      &-header {
        width: 100%;
        height: 194px;

        &-background {
          position: relative;
          overflow: hidden;
          max-width: 100%;
          height: 194px;

          & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 194px;
            object-fit: cover;
            
          }
        }

        &-settings {
          padding: 4px;
          background-color: rgba(166, 166, 166, 0.3);
          border-radius: 4px;
        }
      }
    }

    &-sidebar {
      width: 229px;

      &-tab {
        padding: 16px 0;
        border-bottom: 1px solid #242424;

        &-text{
          transition: 0.3s ease-out;

          &:last-child {
            border-bottom: 0;
          }

          &:hover {
            color: rgba($color: #FFFFFF, $alpha: 0.5);
          }
        }
      }

      &-nickname {
        font-weight: 500;
        font-size: 18px;
      }

      &-name {
        font-weight: 400;
        font-size: 16px;
        color: rgba($color: #FFFFFF, $alpha: 0.8);
      }
    }
  }
}