.profile-settings {
  margin-top: 28px;
  display: flex;
  column-gap: 34px;
  justify-content: center;

  &-header {
    &-menu {
      display: none;

      position: absolute;
      top: 41.5px;
      right: 28px;

      height: 29px;
      width: 29px;

      padding: 4px;

      & .profile-popup {
        top: 24px;
        right: 4px;
      }
    }
  }

  &-main {
    width: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 12px;
    background-color: #161b22;
    max-width: 1134px;

    &-header {
      position: relative;
      overflow: hidden;
      object-fit: cover;
      height: 194px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 12px;
      z-index: 1;

      & img {
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        transition: all 0.3s ease-in;

        &:hover {
          opacity: 0.2;
        }
      }

      //&-container {
      //  //position: relative;
      //  display: block;
      //  border-radius: 12px 12px 0 0;
      //  width: 100%;
      //  height: 100%;
      //  overflow: hidden;
      //}

      &:hover {
        cursor: pointer;
        border-radius: 12px;
        background-color: rgba($color: #5f5f5f, $alpha: 0.1);
      }

      &-load {
        position: relative;
        display: flex;
        column-gap: 8px;
        align-items: center;

        & img {
          position: absolute;

        }

        &:hover {
          cursor: pointer;
        }
      }

      &-text {
        font-size: 14px;
        color: rgba($color: #ffffff, $alpha: 0.6);
      }
    }

    &-line {
      display: block;
      height: 1px;
      width: 100%;
      border-bottom: 1px dashed #5f5f5f;
    }

    &-main {
      padding: 0 28px 28px 28px;

      &-title {
        position: relative;
        text-align: center;

        &-part {
          font-size: 20px;
          font-weight: 500;
        }
      }

      &-text {
        font-size: 36px;
        font-weight: 500;
      }

      &-avatar {
        padding-top: 22px;
        display: flex;
        column-gap: 16px;

        &-container {
          position: relative;
          display: block;
          border-radius: 50%;
          width: 80px;
          height: 80px;
          object-fit: cover;
          overflow: hidden;

          & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            object-fit: cover;
          }
        }
      }

      &-name {
        padding-top: 24px;
        display: flex;
        justify-content: space-between;

        &_item {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
        }
      }

      &-nick {
        display: flex;
        column-gap: 12px;

        &-desc {
          font-size: 14px;
          font-weight: 300;
          color: rgba($color: #ffffff, $alpha: 0.6);
        }
      }

      &-bio {
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }

      &-country {
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }

      &-bottom {
        display: flex;
        column-gap: 24px;
      }
    }
  }

  &-security {
    padding: 28px;
    height: 620px;

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-back {
        display: flex;
        align-items: center;
        column-gap: 4px;
      }
    }

    &-main {
      padding-top: 28px;
      display: flex;
      column-gap: 24px;
      justify-content: center;

      &_item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        width: 100%;

        & button {
          width: 250px;
        }
      }

      &-change {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
      }

      &-comment {
        font-size: 14px;
        color: rgba($color: #ffffff, $alpha: 0.6);

        &.accent {
          color: #797ef9;
        }
      }

      &-btn {
        display: flex;
        column-gap: 8px;
        align-items: center;
      }
    }

    &-buttons {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      max-width: 300px;
    }

    &-delete {
      position: absolute;
      top: 42px;
      right: 28px;
      display: flex;
      column-gap: 8px;
      align-items: center;
      color: #db5b42;
    }
  }

  &-sessions {
    padding: 28px;
    height: 100%;
  }

  &-privacy {
    padding: 0 28px 28px 28px;

    &-main {
      padding: 36px 107px 0;
      display: flex;
      column-gap: 28px;

      &_item {
        padding: 20px;
        width: 284px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
        text-align: center;
        background-color: #0d1117;
        border-radius: 12px;
      }
    }
  }
}

.input.w531 {
  max-width: 531px;
}

.profile-settings {
  &-title {
    font-size: 20px;

    &.big {
      font-size: 36px;
    }
  }

  &-text {
    &.small {
      font-size: 14px;
    }

    &.opacity60 {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }
}

// @media(max-width: px){

// }

@media (max-width: 1440px) {
  .profile-settings {
    &-header {
      &-menu {
        display: inline-block;
      }
    }

    &-privacy {
      &-main {
        padding: 28px 60px 0;
      }
    }
  }
}

@media (max-width: 1140px) {
  //905
  .profile-settings {
    margin: 0 auto;

    width: 905px;

    &-main-main {
      &-name {
        column-gap: 10px;
      }

      &-nick {
        flex-direction: column;
        row-gap: 8px;

        height: 53px;
      }

      &-title {
        &-part {
          height: 53px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  //571
  .profile-settings {
    width: 571px;

    &-header {
      &-menu {
        top: 36px;
      }
    }

    &-main {
      &-header {
        height: 150px;
      }

      &-main {
        &-name {
          flex-direction: column;
          row-gap: 12px;
        }

        &-nick {
          flex-direction: row;
          height: inherit;
        }

        &-title {
          &-part {
            height: inherit;
          }
        }

        &-bottom {
          & .input.w531 {
            width: 206px;
          }
        }
      }
    }

    &-security {
      height: inherit;
      &-main {
        flex-direction: column;

        &_item {
          padding-top: 8px;
        }
      }

      &-delete {
        top: 36px;
      }
    }

    &-privacy {
      &-main {
        flex-direction: column;
        row-gap: 28px;

        &_item {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 678px) {
  .profile-settings {
    width: 374px;

    &-header {
      &-menu {
        top: 28px;
      }
    }

    &-main {
      &-header {
        height: 120px;

        & svg {
          height: 28px;
          width: 28px;
        }

        &-load {
          & svg {
            height: 20px;
            width: 20px;
          }
          font-size: 14px;
        }

        &-text {
          font-size: 12px;
        }
      }

      &-main {
        &-bio,
        &-country {
          padding-top: 18px;
        }

        &-nick {
          flex-direction: column;
        }

        &-name {
          &_item {
            row-gap: 12px;
          }
        }

        &-title {
          &-part {
            font-size: 16px;
          }
        }

        &-bottom {
          flex-direction: column;
          row-gap: 12px;

          & input.input.w531 {
            width: 274px;
          }
        }
      }
    }

    &-security {
      padding: 28px 20px;

      &-main {
        padding-top: 0;
        &_item {
          & button {
            width: 100%;
          }
        }
      }

      &-delete {
        top: 28px;
        font-size: 14px;
      }

      &-buttons {
        max-width: 500px;
        & button {
          width: 100%;
        }
      }
    }

    &-privacy {
      &-main {
        padding: 28px 0 0 0;
      }
    }
  }
}

@media (max-width: 480px) {
  .profile-settings {
    width: 319px;

    &-main-main {
      &-bottom {
        & input.input.w531 {
          width: inherit;
        }
      }
    }

    &-privacy {
      &-main {
        padding: 28px 0 0 0;
        row-gap: 28px;

        &_item {
          width: inherit;
        }
      }
    }
  }
}
//678 - 374, 480 - 319
