.profile-settings {
  margin-top: 28px;
  display: flex;
  column-gap: 34px;
  justify-content: center;

  &-main {
    width: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 12px;
    background-color: #161b22;
    max-width: 1134px;

    &-header {
      height: 194px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 12px;

      &:hover {
        cursor: pointer;
        border-radius: 12px;
        background-color: rgba($color: #5f5f5f, $alpha: 0.1);
      }

      &-load {
        display: flex;
        column-gap: 8px;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      &-text {
        font-size: 14px;
        color: rgba($color: #ffffff, $alpha: 0.6);
      }
    }

    &-line {
      display: block;
      height: 1px;
      width: 100%;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%235F5F5FFF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    &-main {
      padding: 0 28px 28px 28px;

      &-title {
        position: relative;
        text-align: center;

        &-part {
          font-size: 20px;
          font-weight: 500;
        }
      }

      &-text {
        font-size: 36px;
        font-weight: 500;
      }

      &-avatar {
        padding-top: 22px;
        display: flex;
        column-gap: 16px;
      }

      &-name {
        padding-top: 24px;
        display: flex;
        justify-content: space-between;

        &_item {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
        }
      }

      &-nick {
        display: flex;
        column-gap: 12px;
        &-desc {
          font-size: 14px;
          font-weight: 300;
          color: rgba($color: #ffffff, $alpha: 0.6);
        }
      }

      &-bio {
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }

      &-country {
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }

      &-bottom {
        display: flex;
        column-gap: 24px;
      }
    }
  }

  &-security {
    padding: 28px;
    height: 620px;
    &-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-back {
        display: flex;
        align-items: center;
        column-gap: 4px;
      }
    }

    &-main {
      padding-top: 28px;
      display: flex;
      column-gap: 24px;
      justify-content: center;

      &_item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        width: 100%;
      }

      &-change {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
      }

      &-comment {
        font-size: 14px;
        color: rgba($color: #ffffff, $alpha: 0.6);

        &.accent {
          color: #797ef9;
        }
      }

      &-btn {
        display: flex;
        column-gap: 8px;
        align-items: center;
      }
    }

    &-delete {
      position: absolute;
      top: 42px;
      right: 28px;
      display: flex;
      column-gap: 8px;
      align-items: center;
      color: #db5b42;
    }
  }

  &-sessions {
    padding: 28px;
    height: 100%;

    &-button {
      margin-top: 32px;
      display: flex;
      justify-content: center;
    }

    &-table {
      display: flex;
      justify-content: center;
    }
  }

  &-privacy {
    padding: 0 28px 28px 28px;

    &-main {
      padding: 36px 107px 0;
      display: flex;
      column-gap: 28px;

      &_item {
        padding: 20px;
        width: 284px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
        text-align: center;
        background-color: #0d1117;
        border-radius: 12px;
      }
    }
  }

  &-creations {
    padding: 28px;

    &-none {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 28px;

      & span {
        color: #797ef9;
      }
    }
  }
}

.input.w531 {
  width: 531px;
}

.profile-settings {
  &-title {
    font-size: 20px;
    &.big {
      font-size: 36px;
    }
  }

  &-text {
    &.small {
      font-size: 14px;
    }
    &.opacity60 {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }
}
