.sidebar_profile-header {
  display: flex;
  justify-content: space-between;

  align-items: center;

  padding-top: 24px;

  &_close {
    cursor: pointer;
  }

  &_username {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }

  &_setting {
    cursor: pointer;
  }
}

.sidebar_profile-body {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  &_img {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sidebar_profile-create {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 16px;

  &_item {
    cursor: pointer;
    width: 100%;
    padding: 30px 0 16px 0;

    border: 1.5px dashed #5f5f5f;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
    gap: 10px;

    transition: all 0.3s ease-in-out;

    &.create-lesson {
      margin: 28px 0;

      flex-direction: row;
      gap: 8px;
      padding: 20px 0;

      & span {
        color: rgba(255, 255, 255, 0.6);

        transition: all 0.3s ease-in-out;
      }

      & svg {
        transform: scale(0.5);
      }
    }

    &.create-block {
      flex-direction: row;
      gap: 16px;
      padding: 40px 0;

      & span {
        color: rgba(255, 255, 255, 0.6);

        transition: all 0.3s ease-in-out;
      }
    }

    & svg {
      fill: rgba(255, 255, 255, 0.50);

      transition: all 0.3s ease-in-out;
    }

    &:hover {
      border: 1.5px solid #5f5f5f;

      &.create-block {
        & span {
          color: rgba(255, 255, 255, 1);
        }
      }

      &.create-lesson {

        & span {
          color: rgba(255, 255, 255, 1);
        }
      }

      & svg {
        fill: #fff;
      }
    }
  }
}

.sidebar_profile-empty {
  display: flex;
  flex-direction: column;
  gap: 24px;
}