/* HEADER */

.header {
  position: fixed;
  width: 100%;
  max-height: 100px;
  font-family: "Fira Code", monospace;

  top: 0;
  left: 0;
  z-index: 3;

  & a {
    color: #ffffff;
    text-decoration: none;
  }

  &_category {
    display: inline-flex;
    column-gap: 64px;
    text-align: center;
    align-items: center;
    font-size: 18px;

    &__item {
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        bottom: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition: 0.2s;
        transform: scaleX(0);
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  &_icons {
    display: flex;
    column-gap: 16px;

    &__icon {
      cursor: pointer;
    }
  }

  &_lang {
    display: flex;
    column-gap: 6px;
    text-align: center;
    align-items: center;
  }

  &_leftside {
    display: flex;
    column-gap: 64px;
  }

  &_rightside {
    display: flex;
    column-gap: 28px;
  }

  &_title {
    font-weight: 700;
    font-size: 24px;
    text-wrap: nowrap;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &_warpper {
    display: flex;
    justify-content: space-between;

    padding: 35px 120px;

    background-color: #0d1117;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 768px) {
  .header {
    &_warpper {
      padding: 25px 70px;
    }
  }
}

@media (max-width: 430px) {
  .header {
    &_warpper {
      padding: 20px;
    }

    &_leftside {
      column-gap: 40px;
    }

    &_rightside {
      column-gap: 14px;
    }

    &_title {
      font-size: 20px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    &_warpper {
      padding: 20px 20px;
    }

    &_leftside {
      column-gap: 40px;
    }

    &_rightside {
      column-gap: 14px;
    }

    &_icons {
      column-gap: 14px;

      &__icon {
        height: 25px;
        width: 25px;

        & svg {
          height: 25px;
          width: 25px;
        }
      }
    }

    &_title {
      font-size: 20px;
    }

    &_category {
      display: none;
    }

    &_lang {
      & .dropdown {
        font-size: 14px;
      }
    }
  }
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  margin-top: 109px;

  background-color: #161b22;
  width: 64px;
  height: 100%;

  top: 0;
  left: 0;
  z-index: 2;

  &_btngroup {
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &_btn {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    background-color: rgba(166, 166, 166, 0.3);

    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background-color: rgba(166, 166, 166, 0.2);
      color: rgba(255, 255, 255, 0.6);
    }

    &__item {
      padding: 4px 4px;
      border-radius: 4px;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    margin-top: 89px;

    width: 50px;

    &_btngroup {
      padding: 12px;
      row-gap: 10px;
    }

    &_btn {
      width: 28px;
      height: 28px;

      &__item svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 430px) {
  .sidebar {
    display: none;
  }
}

/* FOOTER */

.footer {
  position: relative;
  z-index: 5;

  margin-top: 109px;

  height: 129px;

  background-color: #161b22;

  transition: 0.3s ease-in-out;
  border-top: 1px solid #5f5f5f;

  &:hover {
    margin-top: 0;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
  }

  &-wrapper {
    margin-top: -129px;

    height: 129px;

    overflow: hidden;
  }

  &-content {
    padding: 35px 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 109px;
  }

  &-icons {
    display: flex;

    &__item {
      width: 50px;
      height: 50px;

      padding: 10px;

      cursor: pointer;
    }
  }

  &-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }
}

@media (max-width: 768px) {
  .footer {
    &-content {
      padding: 25px 70px;
    }
  }
}

@media (max-width: 430px) {
  .footer {
    height: 159px;
    margin-top: 139px;

    &-wrapper {
      height: 159px;
      margin-top: -159px;
    }

    &-content {
      padding: 12px 60px;
      flex-direction: column;

      height: 139px;
    }

    &-icons {
      &__item {
        width: 44px;
        height: 44px;

        & svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    &-feedback {
      flex-direction: column;
      row-gap: 8px;
    }
  }
}

@media (max-width: 375px) {
  .footer {
    &-content,
    &-content button {
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .footer {
    &-content {
      padding: 12px 30px;
    }
  }
}
