.markdown {
    &-h1 {
        display: block;

        // margin-bottom: 32px;

        color: #fff;
        font-size: 36px;
        font-weight: 500;
    }

    &-h2 {
        display: block;

        margin-bottom: 24px;

        color: #fff;
        font-size: 32px;
        font-weight: 500;
    }

    &-h3 {
        display: block;

        margin-bottom: 20px;

        color: #fff;
        font-size: 28px;
        font-weight: 500;
    }

    &-h4 {
        display: block;

        margin-bottom: 16px;

        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    &-h5 {
        display: block;

        margin-bottom: 12px;

        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }

    &-h6 {
        display: block;

        margin-bottom: 8px;

        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
    
    &-p {
        margin-bottom: 16px;

        font-size: 16px;
    }

    &-strong {
        font-weight: bold;
    }

    &-em {
        font-style: italic;
    }

    &-del {
        text-decoration: line-through;
    }
    
    &-a {
        cursor: pointer;

        position: relative;
        color: #797ef9;

        font-size: 16px;
        font-weight: 400;

        &::before {
            content: "";
            bottom: 0px;
            right: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #797ef9;;
            transition: 0.2s;
            transform: scaleX(0);
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
    
    &-ol {
        margin-left: 40px;
        margin-bottom: 28px;

        list-style-type: decimal;

        &>li {
            margin-bottom: 4px;
        }

        &>li>ol {
            margin-left: 40px;
            margin-bottom: 0;
            // list-style-type: lower-roman;
        }
    }

    &-hr {
        margin: 24px 0;

        height: 1px;

        opacity: 0.2;

        background-color: #fff;
    }

    &-inline-block-code {
        display: inline-block;
        padding: 8px 12px;
        border: 1px solid #5f5f5f;
        border-radius: 4px;
        background-color: #000000;

        font-size: 14px;
        font-weight: 400;
    }

    &-blockquote {
        margin: 12px 0;
        padding: 12px 12px;
        background-color: #1e2632;
        border: 1px #5f5f5f solid;
        border-radius: 12px;

        font-style: italic;
    }
}

.tiptap-code-editor {
    padding: 12px;
}

/*!
Theme: GitHub
Description: Light theme as seen on github.com
Author: github.com
Maintainer: @Hirse
Updated: 2021-05-15
Outdated base version: https://github.com/primer/github-syntax-light
Current colors taken from GitHub's CSS
*/

.hljs {
    color: #24292e;
    background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
    /* prettylights-syntax-variable */
    color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
    /* prettylights-syntax-comment */
    color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #22863a;
}

.hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #24292e;
}

.hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #005cc5;
    font-weight: bold;
}

.hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #735c0f;
}

.hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #24292e;
    font-style: italic;
}

.hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #24292e;
    font-weight: bold;
}

.hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #22863a;
    background-color: #f0fff4;
}

.hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #b31d28;
    background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
    /* purposely ignored */
}