@use "scss-reset/reset";

body {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  line-height: normal;
  // background-color: #0d1117;
}

.main {
  padding: 109px 28px 28px 28px;
  background-color: #0d1117;

  width: 100%;

  height: 100%;
  min-height: 100vh;

  &.active-sidebar {
    padding: 109px 28px 28px 92px;
  }

  &.active-compiler {
    display: flex;
    //flex-direction: column;
    //height: 100%;
    padding: 110px 0px 0px 70px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@import "./components/all";

@media (max-width: 768px) {
  .main {
    padding: 109px 28px 28px 28px;
    &.active-sidebar {
      padding: 109px 28px 28px 78px;
    }
  }
}

@media (max-width: 430px) {
  .main {
    padding: 89px 28px 28px 28px;
    &.active-sidebar {
      padding: 89px 28px 28px 28px;
    }
  }
}

@media (max-width: 320px) {
  .main {
    padding: 77px 28px 28px 28px;
    &.active-sidebar {
      padding: 77px 28px 28px 28px;
    }
  }
}
