.courses {
  margin-top: 49px;
  width: 100%;

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-title {
      width: 100%;
      text-align: center;
      font-size: 36px;
      font-weight: 500;
    }

    &-desc {
      padding-top: 16px;
      text-align: center;
      width: 794px;
    }
  }

  &-slider {
    display: flex;
    justify-content: center;
    height: 28px;
    border: 1px solid #ffffff;
  }
}

/* КАТЕГОРИЯ СО ВСЕМИ КУРСАМИ */

.courses-all {
  padding-top: 68px;

  &-title {
    position: relative;

    min-height: 50px;

    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  &-filter {
    padding: 12px 16px;
    position: absolute;
    right: 0;
    top: -7px;
    display: flex;
    column-gap: 12px;
    align-items: center;
    width: 133px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: black;
    font-size: 18px;
  }

  &-main {
    margin: 0 auto;

    padding-top: 31px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 1200px;
  }

  &-bottom {
    padding-top: 48px;
    text-align: center;

    &-showed {
      color: #c0c0c0;
    }

    &-load {
      margin: 22px 0;
      padding: 14px 36px;
      border: 1px solid #ffffff;
      border-radius: 8px;

      &:hover {
        color: rgba($color: #ffffff, $alpha: 0.6);
        border: 1px solid rgba($color: #ffffff, $alpha: 0.6);
      }
    }
  }
}

/* КАТЕГОРИЯ С НАЧАТЫМИ КУРСАМИ */

.courses-started {
  padding-top: 68px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &-title {
    min-height: 50px;

    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  &-main {
    padding-top: 32px;
    //display: flex;
    //flex-wrap: wrap;
    //column-gap: 32px;
    width: 100%;
  }

  &-bottom {
    padding-top: 28px;
  }
}

/* КАТЕГОРИЯ С ЗАВЕРШЕННЫМИ КУРСАМИ */

.courses-completed {
  padding-top: 68px;

  &-title {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  &-main {
    padding-top: 31px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
  }

  &-bottom {
    padding-top: 28px;
  }
}

/* КАРТОЧКА КУРСА */

.courses-card {
  padding: 20px;

  max-width: calc(50% - 10px);
  box-sizing: border-box;
  width: 100%;
  //height: 528px;
  border: 1px solid #5f5f5f;
  border-radius: 12px;

  &.slider-card {
    min-width: calc(50% - 10px);
    //min-width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 37px;

    &-tags {
      display: flex;
      column-gap: 20px;
    }

    &-tag {
      padding: 8px 16px;
      border-radius: 100px;
      background-color: rgba($color: #2d2d2d, $alpha: 0.6);
    }

    &-status {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  &-info {
    &-title {
      max-width: calc(100% - 150px);
      width: 100%;

      font-size: 28px;
      font-weight: 500;
    }

    &-desc {
      display: flex;
      // align-items: center;
      justify-content: space-between;

      height: 96px;

      &-text {
        padding-top: 17px;

        width: 372px;
        height: 100px;

        font-size: 16px;
        font-weight: 400;
      }

      &-img {
        width: 150px;
        height: auto;
      }
    }
  }

  &-cards {
    display: flex;
    column-gap: 20px;
    padding-top: 41px;
  }

  &-card {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 134px;
    background-color: rgba($color: #2d2d2d, $alpha: 0.6);
    border-radius: 8px;
  }

  &-bottom {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
}

/* ИНФОРМАЦИЯ О КУРСЕ */

.course {
  padding: 65px 0 40px 0;
  margin: 0 auto;

  width: 1200px;
}

.course-info {
  padding: 32px;

  max-width: 1200px;
  width: 100%;

  border: 1px solid #5f5f5f;
  border-radius: 12px;

  &-button {
    padding-top: 32px;
    height: 66px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 36px;
      font-weight: 500;
    }
  }

  &-main {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      width: 800px;

      &-desc {
        min-height: 100px;
      }

      &-cards {
        padding-top: 32px;
        display: flex;
        column-gap: 32px;
      }

      &-card {
        padding: 32px 67px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;
        justify-content: center;
        max-width: 245px;
        text-align: center;
        background-color: rgba($color: #2d2d2d, $alpha: 0.6);
        border-radius: 8px;
      }
    }

    &-img {
      margin: auto 0;
      height: 305px;
      width: 305px;
    }
  }

  &-bottom {
    padding-top: 20px;

    display: flex;
    justify-content: space-between;

    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);

    &-stat {
      display: flex;
      justify-content: space-between;
    }

    &-left {
      display: flex;
      column-gap: 44px;
    }
  }
}

.course-blocks {
  margin-top: 68px;

  &-title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  &-main {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &-item {
    max-width: 1200px;
    width: 100%;

    &-header {
      padding: 23px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #5f5f5f;
      border-left: 1px solid #5f5f5f;
      border-right: 1px solid #5f5f5f;
      border-bottom: 1px solid #242424;
      border-radius: 12px 12px 0 0;

      &-title {
        font-size: 24px;
        font-weight: 500;
      }

      &-l {
        display: flex;
        column-gap: 32px;
        align-items: center;
      }

      &-status {
        display: flex;
        column-gap: 8px;
        align-items: center;
      }
    }

    &-lessons {
      &-item {
        padding: 16px 32px;
        display: flex;
        justify-content: space-between;
        border-left: 1px solid #5f5f5f;
        border-right: 1px solid #5f5f5f;
        border-bottom: 1px solid #242424;

        &-status {
          display: flex;
          column-gap: 8px;

          &.complete {
            color: #2ea043;
          }

          &.process {
            color: #ffffff;
          }

          &.blocked {
            color: rgba($color: #ffffff, $alpha: 0.6);
          }
        }
      }
    }

    &-bottom {
      padding: 16px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      width: 100%;
      border-left: 1px solid #5f5f5f;
      border-right: 1px solid #5f5f5f;
      border-bottom: 1px solid #5f5f5f;
      border-radius: 0 0 12px 12px;
    }
  }
}

/* ADAPTIVE */
//Страница со всеми курсами

@media (max-width: 1320px) {
  .courses {
    &-card {
      &-info-title {
        max-width: calc(100% - 120px);
      }
      &-info-desc {
        &-img {
          width: 120px;
        }

        &-text {
          height: 80px;
        }
      }

      &-card {
        & svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    &-all-main {
      gap: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .courses {
    &-card {
      &-info {
        &-title {
          font-size: 24px;
        }
      }
      &-cards {
        padding-top: 32px;

        flex-direction: column;
        row-gap: 12px;
      }

      &-card {
        padding: 0;

        justify-content: start;
        column-gap: 12px;

        height: inherit;

        background-color: transparent;

        & svg {
          width: 30px;
          height: 30px;
        }
      }

      &-bottom {
        flex-direction: column;
        row-gap: 12px;
      }
    }
  }
}

@media (max-width: 900px) {
  .courses {
    &-all {
      &-main {
        flex-direction: column;
      }
    }

    &-card {
      max-width: 584px;
    }
  }
}

@media (max-width: 768px) {
  .courses {
    &-header {
      &-title {
        font-size: 28px;
      }
    }
    &-all {
      padding-top: 50px;
      &-filter {
        top: 3.5px;

        width: 113px;
        font-size: 14px;

        & svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    &-card {
      &-info-desc {
        &-img {
          width: 150px;
        }
      }
    }
  }
}

@media (max-width: 564px) {
  .courses {
    &-all {
      &-title {
        height: 101px;

        font-size: 24px;
      }

      &-filter {
        top: 57px;
      }
    }
    &-card {
      &-cards {
        padding-top: 24px;

        flex-direction: column;
        row-gap: 12px;
      }

      &-card {
        padding: 0;

        column-gap: 8px;

        justify-content: start;

        height: inherit;

        background-color: transparent;
        border-radius: 0;

        & svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .courses {
    padding: 0 12px 0 12px;

    &-header {
      &-title {
        font-size: 28px;
      }

      &-desc {
        font-size: 14px;
      }
    }
    &-all-main {
      gap: 28;
    }
    &-card {
      &-info {
        &-title {
          font-size: 24px;
        }
        &-desc {
          height: 78px;

          &-text {
            padding-top: 12px;
          }

          &-img {
            height: 78px;
            width: inherit;
          }
        }
      }
      &-cards {
        padding-top: 20px;
      }

      &-card {
        & svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .courses-card-info-desc-img {
    height: 50px;
  }
}

//Отдельная страница курса

@media (max-width: 1320px) {
  .course {
    width: inherit;
    &-info {
      &-main {
        &-img {
          height: 270px;
          width: 270px;
        }

        &-text {
          &-cards {
            column-gap: 12px;
            justify-content: space-between;
          }
          &-card {
            padding: 28px 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .course {
    &-info {
      &-main {
        &-img {
          height: 230px;
          width: 230px;
        }

        &-text {
          &-card {
            padding: 24px 40px;

            & svg {
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .course {
    &-info {
      &-header {
        &-title {
          font-size: 28px;
        }
      }

      &-main {
        &-img {
          height: 180px;
          width: 180px;
        }
      }
    }

    &-blocks {
      margin-top: 50px;
      &-title {
        font-size: 28px;
      }

      &-item {
        &-header {
          &-title {
            font-size: 20px;
          }

          & svg {
            width: 30px;
            height: 30px;
          }
        }

        &-lessons-item {
          &-status {
            & svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .course {
    &-info {
      &-main {
        &-text {
          &-cards {
            flex-direction: column;
            row-gap: 12px;
          }

          &-card {
            padding: 0;

            flex-wrap: nowrap;
            align-items: center;
            justify-content: start;
            column-gap: 12px;

            text-align: left;

            background-color: transparent;

            & svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 910px) {
  .course {
    &-info {
      &-bottom {
        flex-direction: column;
        row-gap: 12px;

        &-left {
          flex-direction: column;
          row-gap: 12px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .course {
    &-info {
      &-header {
        flex-direction: column-reverse;
        row-gap: 12px;
        align-items: baseline;

        &-title {
          text-align: center;
        }
      }

      &-main {
        padding-top: 20px;

        &-text {
          &-cards {
            padding-top: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .course-blocks-item {
    &-lessons-item-status {
      & p {
        display: none;
      }
    }

    &-header-l {
      column-gap: 24px;
    }
  }
}

@media (max-width: 645px) {
  .course {
    &-info {
      &-main {
        flex-direction: column-reverse;
        row-gap: 12px;

        &-text {
          width: inherit;

          &-card {
            max-width: inherit;
          }
        }

        &-img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .course {
    &-info {
      padding: 12px;

      &-button {
        padding-top: 24px;
        height: inherit;
      }
    }

    &-blocks {
      &-item {
        &-header {
          padding: 12px;
        }
        &-lessons {
          &-item {
            padding: 12px;
          }
        }

        &-bottom {
          padding: 12px;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .course-info-header-title {
    font-size: 24px;
  }

  .course-blocks-item-header {
    &-l {
      column-gap: 12px;
    }

    &-title {
      font-size: 16px;
    }
  }
}
