body {
    margin: 0;

    background-color: #fff;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll,
body.show-nav {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Page */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}


/* Header */
.header {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    transition: background .2s linear;
}

.header--dark,
body.show-nav .header {
    background-color: rgba(0, 0, 0, 0.9);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__logo {
    text-decoration: none;
    color: #fff;
}

.header__logo--black {
    color: #2C2C2C;
}

.header__logo img {
    display: inline-block;
    vertical-align: middle;
}

.header__logo-text {
    font-size: 15px;
    font-weight: 700;

    margin-left: 11px;
    position: relative;
    top: 2px;
}


/* Nav */

.nav {
    display: flex;
    height: 100%;
    font-size: 16px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: #fff;
    text-decoration: none;

    transition: background .2s linear;
}

.nav__link:not(.active):hover {
    text-decoration: underline;
}

.nav__link.active {
    background-color: #004AF2;
}



/* Burger */

.burger {
    width: 30px;
    height: 23px;
    position: relative;
    padding: 0;
    background: none;
    border: 0;

    font-size: 0;
    color: transparent;

    display: none;
}

.burger:focus {
    outline: none;
}

.burger__line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px 0;

    background-color: #fff;

    transition: transform .2s ease-out;
}

.burger__line:nth-child(1) {
    width: 20px;
    margin-left: auto;
}

.burger__line:nth-child(1),
.burger__line:nth-child(3) {
    transform-origin: right;
    transition: width .2s ease-out;
}

.burger.active .burger__line:nth-child(1),
.burger.active .burger__line:nth-child(3) {
    width: 0;
}

.burger.active .burger__line:nth-child(2),
.burger.active .burger__line:nth-child(4) {
    position: absolute;
    left: 0;
    top: 50%;

    transform-origin: center;
}

.burger.active .burger__line:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(4) {
    transform: rotate(-45deg);
}


/* Intro */

.intro {
    margin-bottom: 30px;
    position: relative;
}

.intro--blog {
    height: 350px;
    background: #000 url("../images/blog-bg.jpg") no-repeat center;
    background-size: cover;
}

.intro--text {
    height: 350px;
    background: #000 url("../images/text-bg.jpg") no-repeat center;
    background-size: cover;
}

.intro__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #04222a url("../images/slider/slide-1.jpg") no-repeat center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro__slider .slider-item {
    display: none;
}

.intro__slider.slick-initialized {
    background: #04222a;
}

.intro__slider.slick-initialized .slider-item {
    display: block;
}

.intro__slider .slick-list,
.intro__slider .slick-track {
    height: 100%;
}

.intro__slider-item {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__slider-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.intro__slider-arrows {
    position: absolute;
    bottom: 30px;
    left: 430px;
}

.intro__slider-btn {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 3px;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    background: none;
}

.intro__slider-btn:focus {
    outline: none;
}

.intro__slider-btn--prev {
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}

.intro__slider-btn--next {
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.intro__text {
    margin-bottom: 45px;
    text-align: right;
}

.intro__countries {
    font-size: 16px;
    color: #fff;
}

.intro__title {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-size: 110px;
    line-height: 0.9;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}

.intro__title-amp {
    font-size: 170px;
    line-height: 1;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);

    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);
}


/* Request form */
.request-form {
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    background-color: #004AF2;
    border-radius: 5px;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form--right {
    margin-left: auto;
}

.request-form__header {
    padding: 20px 30px;

    background-color: #033FC9;
}

.request-form__title {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.request-form__text {
    font-size: 16px;
    color: #fff;
}

.request-form__content {
    padding: 30px;
}



/* Form */

.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;

    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    appearance: none;
    box-shadow: none;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;

    transition: border-color .1s linear;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom-color: #fff;
}

.input--user {
    background: url("../images/user-icon.svg") left 15px top 5px no-repeat;
}

.input--phone {
    background: url("../images/phone-icon.svg") left 15px top 5px no-repeat;
}

.input--email {
    background: url("../images/mail-icon.svg") left 15px top 6px no-repeat;
}

.input--dark {
    color: #2C2C2C;
    border-bottom-color: #E8E8E8;
}

.input--dark::placeholder {
    color: #2C2C2C;
}

.input--dark:focus {
    border-bottom-color: #000;
}

.input--dark.input--user {
    background-image: url("../images/user-black-icon.svg");
}

.input--dark.input--email {
    background-image: url("../images/mail-black-icon.svg");
}

.input--dark.input--phone {
    background-image: url("../images/phone-black-icon.svg");
}


/* Btn */

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;
    position: relative;
    overflow: hidden;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    background: #333;
    border: 0;
    border-radius: 5px;

    transition: background .2s linear;
}

.btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn:hover:before {
    opacity: .15;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--orange {
    background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}

.btn--shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}



/* Section */

.section {
    padding: 60px 0;
}

.section--map {
    background: url("../images/map.svg") no-repeat left 30px top 130px;
}

.section--gray {
    background-color: #F9F9F9;
}

.section--last {
    margin-bottom: 60px;
}

.section__title {
    margin-bottom: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 45px;
    line-height: 1.2;
    color: #2C2C2C;
    font-weight: 900;
}

.section__title span {
    color: #0D53F2;
}


/* Services */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
    position: relative;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}

.services__main-title {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    line-height: 1;
    color: rgba(44, 44, 44, .05);
    font-weight: 900;

    position: absolute;
    bottom: 12px;
    right: 30px;
    z-index: 1;
}

.services__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.services__title {
    margin-bottom: 20px;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #2C2C2C;
    font-weight: 900;
}

.services__text {
    margin-bottom: 20px;

    font-size: 16px;
    color: #585858;
}

.services__footer {
    margin-top: auto;
}

.services__link {
    display: inline-block;
    font-size: 16px;
    color: #004AF2;
    text-decoration: none;

    transition: color .1s linear;
}

.services__link:after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    margin-top: 5px;

    background-color: #004AF2;

    transition: width .1s linear;
}

.services__link:hover {
    color: #FF3E2F;
}

.services__link:hover:after {
    width: 100%;
    background-color: #FF3E2F;
}



/* Clients */

.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 50px;
    margin-bottom: 40px;
}

.clients-love {
    display: inline-block;
    margin-left: 40px;
    min-height: 47px;
    padding-top: 5px;

    background: url("../images/heart.svg") no-repeat left 19px top;

    font-size: 18px;
    color: #464646;
}



/* Reviews */

.reviews {
    position: relative;
    height: 200px;

    background: url("../images/ajax-loader.gif") no-repeat center;
}

.reviews.slick-initialized {
    background: none;
    height: auto;
}

.reviews:before,
.reviews:after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 3;
}

.reviews:before {
    left: 0;

    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.reviews:after {
    right: 0;

    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.reviews .slick-list {
    padding-top: 20px;
    z-index: 2;
}

.reviews .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 3;
}

.reviews .slick-dots li {
    margin: 0 5px;
}

.reviews .slick-dots li.slick-active button {
    background-color: #004AF2;
    border-color: rgba(0, 74, 242, .11);
    /*box-shadow: 0 0 0 5px rgba(0, 74, 242, .11);*/
}

.reviews .slick-dots button {
    box-sizing: content-box;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    background-color: #DBDBDB;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 50%;
    cursor: pointer;

    color: transparent;
    font-size: 0;

    transition: background-color .2s linear, border-color .2s linear;
}

.reviews .slick-dots button:focus {
    outline: none;
}

.reviews__item {
    display: none;
    padding: 0 10px;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.reviews__header:before {
    content: "";
    display: block;
    width: 92px;
    height: 126px;

    background: url("../images/lines.svg") no-repeat;

    position: absolute;
    top: -13px;
    left: 2px;
    z-index: 1;
}

.reviews__header-content {
    flex-grow: 1;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}

.reviews__photo {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.reviews__name {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 900;
}

.reviews__company {
    font-size: 16px;
    color: #2C2C2C;
}

.reviews__content {
    color: #585858;
    font-size: 16px;
    line-height: 1.8;
}

.reviews__content p {
    margin-bottom: 20px;
}

.reviews__content p:first-line {
    text-indent: 20px;
}



/* Benefits */
.benefits {
    display: flex;
}

.benefits__col {
    width: 50%;
}

.benefits-list {
    width: 100%;
    max-width: 370px;
    padding-left: 50px;
    position: relative;

    background-image: linear-gradient(to bottom, #fff 40%, #A5A5A5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top -4px;
}

.benefits-list:before,
.benefits-list:after {
    content: "";
    display: block;
    width: 26px;
    height: 36px;

    background-color: #fff;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    z-index: 1;
}

.benefits-list:before {
    background-image: url("../images/pin-start.svg");

    top: -5px;
}

.benefits-list:after {
    background-image: url("../images/pin-end.svg");

    bottom: -4px;
}

.benefits-list__item:not(:last-child) {
    margin-bottom: 35px;
}

.benefits-list__title {
    margin-bottom: 12px;

    font-family: 'Lato', sans-serif;
    font-size: 21px;
    line-height: 1.2;
    color: #2C2C2C;
    font-weight: 900;
}

.benefits-list__text {
    font-size: 16px;
    color: #585858;
}




/* Team */

.team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__col {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    margin-bottom: 13px;

    box-shadow: 10px 5px 13px rgba(0, 0, 0, .16);
}

.team__name {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
}

.team__prof {
    margin-bottom: 11px;

    font-size: 16px;
    color: #585858;
}

.team__contacts {
    font-size: 14px;
    line-height: 1.2;
    color: #585858;
}

.team__contacts li {
    margin-bottom: 9px;
}

.team__contacts a {
    color: inherit;
    text-decoration: none;
}

.team__contacts a:hover {
    text-decoration: underline;
}

.team__contacts-icon {
    width: 16px;
    height: auto;
    margin-right: 7px;
}




/* Mission */

.mission-title {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .05);
}

.mission {
    padding: 60px 30px;
    margin-bottom: 30px;
    position: relative;
    margin-top: -23px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .16);

    font-family: 'Lato', sans-serif;
    text-align: center;
}

.mission:before,
.mission:after {
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.mission:before {
    background-color: #004AF2;
    right: 50%;
}

.mission:after {
    background-color: #FC2C2B;
    left: 50%;
}

.mission__title {
    margin-bottom: 5px;

    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #004AF2;
}

.mission__subtitle {
    font-size: 21px;
    color: #585858;
}




/* Articles */
.articles {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 30px;
}

.articles--column {
    flex-direction: column;
    margin-bottom: 75px;
}

.articles--column .articles__item {
    max-width: none;
    margin-bottom: 45px;
}

.articles--column .articles__item:last-child {
    margin-bottom: 0;
}

.articles__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.articles__title {
    margin-bottom: 15px;

    font-size: 24px;
    font-weight: 700;
    color: #2C2C2C;
}

.articles__title a {
    color: inherit;
    text-decoration: none;
}

.articles__title a:hover {
    text-decoration: underline;
}

.articles__text {
    margin-bottom: 15px;

    font-size: 16px;
    color: #585858;
}

.articles__date {
    display: block;

    font-size: 12px;
    color: #6E6E6E;
}


/* Footer */

.footer {
    padding: 40px 0;
    margin-top: auto;

    background-color: #F9F9F9;
    background-image:
        url("../images/tire-left.svg"),
        url("../images/tire-right.svg");
    background-repeat: no-repeat;
    background-position:
        left -50px bottom -80px,
        right -50px bottom -80px;

    text-align: center;
}

.footer__contacts {
    margin: 25px 0;

    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #585858;
    font-style: normal;
}

.footer__contacts p {
    margin: 0 0 5px;
}

.footer__contacts a {
    color: inherit;
    text-decoration: none;
}

.footer__contacts a:hover {
    text-decoration: underline;
}

.footer__nav {
    font-size: 12px;
}

.footer__nav a {
    margin: 0 5px;

    color: #004AF2;
    text-decoration: none;
}

.footer__nav a:hover {
    text-decoration: underline;
}





/* Modal */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, .9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.modal.show {
    display: block;
}

.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.modal__content {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    position: relative;

    background-color: #fff;
    opacity: 0;

    transform: scale(0.5);
    transition: transform .2s ease-out, opacity .2s ease-out;
}

.modal__header {
    margin-bottom: 25px;

    text-align: center;
}

.modal__icon {
    margin-bottom: 10px;
}

.modal__title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #004AF2;
    font-weight: 900;
    line-height: 1.2;
}

.modal__text {
    font-size: 16px;
    color: #2C2C2C;
}

.modal__footer {
    margin-top: 25px;
    padding-top: 25px;

    border-top: 1px solid #E8E8E8;

    text-align: center;
}

.modal__footer-title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
}

.modal__contacts {
    font-size: 14px;
    color: #2C2C2C;
    font-style: normal;
}

.modal__contacts p {
    margin-bottom: 3px;
}

.modal__contacts a {
    color: inherit;
    text-decoration: none;
}

.modal__contacts a:hover {
    text-decoration: underline;
}

.modal__close {
    width: 20px;
    height: 20px;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 1;

    transition: transform .2s linear;
}

.modal__close:focus {
    outline: none;
}

.modal__close:hover {
    transform: rotate(90deg);
}

.modal__close img {
    display: block;
}



/* Main */

.main {
    display: flex;
    margin: 0 -15px;
}

.main__col {
    width: 50%;
    padding: 0 15px;
}



/* Text */

.text {
    max-width: 890px;
    margin-bottom: 50px;

    font-size: 18px;
    line-height: 1.5;
    color: #585858;
}

.text p {
    margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    margin-bottom: 20px;

    font-weight: 700;
    color: #2C2C2C;
}

.text h2 {
    font-size: 27px;
}

.text h3 {
    font-size: 24px;
}

.text h4 {
    font-size: 21px;
}

.text h5 {
    font-size: 18px;
}

.text h6 {
    font-size: 16px;
}

.text ul,
.text ol {
    margin-bottom: 20px;
}

.text ol {
    list-style: decimal;
    list-style-position: inside;
}

.text hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #d1d1d1;
}

.text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text a {
    color: #0D53F2;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}







/* Media Queries */

@media (max-width: 991px) {


    /* Intro */
    .intro__title {
        font-size: 90px;
    }

    .intro__title-amp {
        font-size: 120px;

        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .intro--blog,
    .intro--text {
        height: 250px;
    }

    .intro__slider-arrows {
        display: none;
    }

    /* Section */
    .section__title {
        text-align: center;
    }

    .section--map {
        background-position: center top 130px;
    }


    /* Services */
    .services__item {
        width: 50%;
    }


    /* Clients */
    .clients {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .clients__logos,
    .clients__reviews {
        width: 100%;
    }

    .clients__logos {
        margin-bottom: 50px;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__list li {
        max-width: 130px;
    }


    /* Footer */
    .footer {
        background-size: 330px auto;
        background-position: left -30px bottom -30px,
        right -30px bottom -30px;
    }


    .main__col--left {
        width: 55%;
    }

    .main__col--right {
        width: 45%;
    }
}


@media (max-width: 767px) {

    /* Header */
    .header__inner {
        height: 50px;
    }


    /* Nav */
    .nav {
        width: 100%;
        height: calc(100vh - 50px);
        overflow: auto;
        flex-direction: column;
        padding-top: 9px;

        background-color: rgba(0, 0, 0, .85);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;

        transform: translateX(100%);
        transition: transform .2s ease-out;
    }

    .nav.show {
        transform: translateX(0);
    }

    .nav__link {
        display: block;
        padding: 10px 15px;
        text-align: right;
    }

    .burger {
        display: block;
    }


    /* Intro */
    .intro {
        margin-bottom: 0;
    }

    .intro__inner {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .intro__text {
        order: 1;
        width: 100%;
        margin-bottom: 25px;

        text-align: center;
    }

    .intro__title {
        font-size: 70px;
    }

    .intro__title-amp {
        font-size: 100px;
    }


    /* Request form */
    .request-form--intro {
        order: 2;
        position: static;
    }

    /* Benefits */
    .benefits {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    .benefits__col {
        width: 100%;
    }

    .benefits-list {
        margin-bottom: 30px;
        max-width: none;
    }


    /* Team */
    .team {
        flex-direction: column;
    }

    .team__col {
        width: 100%;
    }

    .team__col:last-child {
        margin-bottom: 0;
    }

    .team__item {
        max-width: 370px;
        margin: 0 auto;
    }

    /* Mission */
    .mission-title {
        font-size: 70px;
    }

    .mission {
        padding: 40px 20px;
        margin-top: -16px;
    }

    .mission__title {
        font-size: 24px;
    }

    .mission__subtitle {
        font-size: 18px;
    }



    /* Articles */
    .articles {
       flex-wrap: wrap;
    }

    .articles__item {
        max-width: none;
    }



    /* Footer */
    .footer {
        background-size: 250px auto;
        background-position: left -20px bottom -30px,
        right -20px bottom -30px;
    }


    /* Main */
    .main {
        flex-direction: column;
    }

    .main__col {
        width: 100%;
    }


    /* Request form */
    .request-form--right {
        display: none;
    }


    /* Articles */
    .articles--column {
        margin-bottom: 30px;
    }
}



@media (max-width: 575px) {
    .intro__title {
        font-size: 60px;
    }

    .intro__title-amp {
        font-size: 90px;
    }


    /* Services */
    .services {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .services__main-title {
        width: 100%;

        font-size: 60px;
        text-align: center;

        bottom: auto;
        right: auto;
        top: 10px;
    }

    .services__item {
        width: 100%;
    }


    /* Section */
    .section {
        padding: 30px 0;
    }

    .section--last {
        margin-bottom: 30px;
    }

    .section__title {
        font-size: 35px;
    }



    /* Request form */
    .request-form__header,
    .request-form__content {
        padding: 20px;
    }

    .request-form__title {
        font-size: 25px;
    }


    /* Clients */
    .clients__list {
        margin: 0 -15px;
    }

    .clients__list li {
        max-width: none;
        width: 33.33333%;
        margin-right: 0;
        padding: 0 15px;
    }

    .clients__list-logo {
        margin: 0 auto;
    }

    .clients-love {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }



    /* Mission */
    .mission-title {
        font-size: 40px;
    }

    .mission {
        padding: 30px 20px;
        margin-top: -10px;
    }

    .mission__title {
        font-size: 20px;
    }

    .mission__subtitle {
        font-size: 16px;
    }


    /* Footer */
    .footer {
        background-position: left -120px bottom -80px,
        right -120px bottom -80px;
    }


    /* Modal */
    .modal__close {
        right: 0;
        top: -30px;
    }
}




@media (max-width: 320px) {
    .intro__title {
        font-size: 40px;
    }

    .intro__title-amp {
        font-size: 50px;
    }
}






